
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto max-w-screen-2xl
}

.text-primary {
    color: #7d00fa;
}

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: rgb(194, 27, 27);
    --mat-snack-bar-button-color: #fff;
    --mdc-snack-bar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mdc-snack-bar-supporting-text-color: #fff;
}