<div class="min-h-screen">
    <mat-tab-group class="bg-white">
        <mat-tab label="Orders">
            <div class="flex justify-between items-center mt-2 max-w-screen-2xl mx-auto">
                <h2 class="text-2xl font-semibold">Customer orders</h2>
                <mat-form-field appearance="outline" class="mt-2">
                    <mat-label>Filter by status</mat-label>
                    <mat-select (selectionChange)="onFilterSelect($event)">
                        @for (status of statusOptions; track $index) {
                        <mat-option [value]="status">{{status}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="p-4">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-white">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="p-4 text-left">ID</th>
                        <td mat-cell *matCellDef="let order" class="p-4">{{ order.id }}</td>
                    </ng-container>

                    <!-- Buyer Email Column -->
                    <ng-container matColumnDef="buyerEmail">
                        <th mat-header-cell *matHeaderCellDef class="p-4 text-left">Buyer Email</th>
                        <td mat-cell *matCellDef="let order" class="p-4">{{ order.buyerEmail }}</td>
                    </ng-container>

                    <!-- Total Column -->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef class="p-4 text-left">Total</th>
                        <td mat-cell *matCellDef="let order" class="p-4">{{ order.total | currency }}</td>
                    </ng-container>

                    <!-- Order Date Column -->
                    <ng-container matColumnDef="orderDate">
                        <th mat-header-cell *matHeaderCellDef class="p-4 text-left">Order Date</th>
                        <td mat-cell *matCellDef="let order" class="p-4">{{ order.orderDate | date:'short' }}</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="p-4 text-left">Status</th>
                        <td mat-cell *matCellDef="let order" class="p-4">{{ order.status }}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="p-4 text-left">Actions</th>
                        <td mat-cell *matCellDef="let order" class="p-4 flex gap-2">

                            <!-- View Details Button -->
                            <button mat-icon-button matTooltip="View Details" 
                                routerLink="/orders/{{order.id}}">
                                <mat-icon color="accent">visibility</mat-icon>
                            </button>

                            <!-- Refund Button -->
                            <button mat-icon-button matTooltip="Refund Order" 
                                class="text-red-600"
                                [disabled]="order.status == 'Refunded'"
                                (click)="openConfirmDialog(order.id)">
                                <mat-icon color="warn">undo</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- Paginator -->
                <mat-paginator 
                    class="bg-white" 
                    [length]="totalItems" 
                    [pageSize]="orderParams.pageSize" 
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </div>

        </mat-tab>

        <mat-tab label="Catalog">
            Catalog placeholder <!-- here add functions to create order -->
        </mat-tab>
        <mat-tab label="Customer service">
            Customer service
        </mat-tab>
    </mat-tab-group>
</div>